<nav class="bg-light border navbar navbar-expand-md navbar-light">
  <div class="container-fluid mx-auto">
    <a class="navbar-brand" href="/"><span>Currency App</span></a>
    <button aria-controls="navbar" aria-expanded="true" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mt-2">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/countries">Countries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
